{% extends "base.html" %}
{%block title%}Home{%endblock%}

{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in notes %}
  <li class="list-group-item" data-id="{{note.id}}" style="background-color: {{ note.color }};">
    <div class="note-body">{{ note.html|safe }}</div>
    <button type="button" class="close" onClick="deleteNote({{note.id}})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <input
      type="color"
      name="color"
      id="color"
      value="#ffff00"
      class="form-control form-control-color"
      list="preset-colors"
    />
    <datalist id="preset-colors">
        <option value="#ff0000"></option>
        <option value="#00ff00"></option>
        <option value="#0000ff"></option>
        <option value="#ffff00"></option>
    </datalist>
    <br />
    <div class="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{%endblock%} 
