{% extends "base.html" %}
{%block title%}Home{%endblock%}

{% block content%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
 
  {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <input class="jscolor form-control mt-2" name="color" value="#ffffff">
    <br />
    <div class="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{%endblock%} 
